.sources {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    justify-self: center;
}

.sources-dropdown {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
}

.sources-dropdown option {
    padding: 10px;
    padding-top: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.sources-dropdown:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

@media screen and (max-width: 400px) {
    .sources-dropdown {
        font-size: 16px;
    }
}
